.home-container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: flex-start;
  z-index: 1;
}

.home-underline {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.home-background {
  background-color: wheat;
}

/* Title*/
.home-title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 100%;
}

.home-title-text {
  font-size: 5rem;
  color: #ff5925;
  margin: 0 0;
  text-align: start;
  flex: 1 0 0;
}

.home-subtitle-text {
  max-width: 500px;
  font-size: 2rem;
  color: #373b43;
  text-align: start;
  flex: 1 0 0;
}

.home-subtitle-text span {
  color: #3e83fb;
}

/* Profile Picture */
.home-profile-img {
  margin: auto;
}

.home-profile-img img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  object-position: 0% 20%;
}

/* About me */

.home-aboutme-container {
  color: #373b43;
  text-align: center;
  max-width: 450px;
  margin: 30px auto;
}

.home-aboutme-container h2 {
  color: #373b43;
  flex: 3 0 0;
  font-size: 2rem;
}

.home-aboutme-container p {
  color: #373b43;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.2rem;
}

/* Tools */

.home-tools-container {
  color: #373b43;
  text-align: start;
  font-size: 1rem;
}

.home-tools-container h2 {
  flex: 3 0 0;
  font-size: 2rem;
  text-align: center;
}

.home-tools-view {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}

/* Bio */
.home-bio-container {
  color: #373b43;
  max-width: 450px;
  margin: 0px auto;

  text-align: center;
}

.home-contact-container {
  color: #373b43;
}

.home-bio-flex-container {
  display: flex;
}

.home-bio-container h2 {
  font-size: 2rem;
}

.home-bio-flex-container h3 {
  color: #3e83fb;
  flex: 2 0 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 1.4rem;
  margin-right: 20px;
}

.home-bio-flex-container p {
  flex: 9 0 0;
  font-size: 1.2rem;
  line-height: 200%;
  text-align: justify;
}

/* Contact */

.home-contact-container {
  color: #373b43;
  margin: 0px auto;
  text-align: center;
  max-width: 450px;
  width: 100%;
}

.home-contact-container h2 {
  font-size: 2rem;
}

.home-contact-container h3 {
  margin-top: -15px;
}

/* Social Media */
.home-socialmedia-container {
  display: flex;
  width: 100px;
  margin: 20px auto;
  justify-content: space-evenly;
}

.home-socialmedia-container a {
  color: #3e83fb;
}

.home-socialmedia-container a:hover {
}

.home-socialmedia-container a:visited {
  color: #3e83fb;
}

/*Media Querys*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Title */
  .home-title-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .home-title-text {
    text-align: center;
    font-size: 6rem;
  }

  .home-subtitle-text {
    margin: auto;
    font-size: 1.7rem;
  }

  /* Tools */
  .home-tools-container {
    margin: 0 auto;
  }

  .home-tools-view {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Title */
  .home-title-text {
    font-size: 8rem;
  }

  .home-subtitle-text {
    font-size: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1240px) {
  .home-title-text {
    font-size: 8.5rem;
  }

  .home-subtitle-text {
    font-size: 2.5rem;
  }
}
